.ck-style-dropdown .ck-style-grid .ck-disabled {
  display: none !important;
}

.ck-editor figure.ck-widget_with-resizer .media {
  min-width: auto !important;
}

.ck-editor figure.ck-widget_with-resizer:has(.media--view-mode-large) {
  width: 100%;
}

.ck-editor figure.ck-widget_with-resizer:has(.media--view-mode-medium) {
  width: 50%;
}

.ck-editor figure.ck-widget_with-resizer:has(.media--view-mode-small) {
  width: 25%;
}

.ck-balloon-panel .ck-dropdown__button:not(.ck-resize-image-button) {
  display: none;
}

