
// Hide ck-disabled and ck-off Block Styles when selecting an HTML tag.
.ck-style-dropdown {
  .ck-style-grid {
    .ck-disabled {
      display: none !important;
    }
  }
}

.ck-editor {
  figure {
    &.ck-widget_with-resizer {

      .media {
        min-width: auto !important;
      }

      &:has(.media--view-mode-large) {
        width: 100%;
      }

      &:has(.media--view-mode-medium) {
        width: 50%;
      }

      &:has(.media--view-mode-small) {
        width: 25%;
      }
    }
  }
}

.ck-balloon-panel {
  .ck-dropdown__button:not(.ck-resize-image-button) {
    display: none;
  }
}
